
    body {
      font-family:'MuseoSansCyrl-500';
    }
		
		

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
color: #FFF;
  
  background-image: radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.18)),url(../img/h_group.jpg);

}

.jumbotron h5 {
  font-size: 20px;
  line-height: 24px;
   text-align: center;
  text-transform: uppercase;
}

.jumbotron .col-sm-4.py-4 {
  font-size: 22px;
}

.jumbotron .col-sm-4.py-4 span {
  font-size: 32px;
  color: #FB7710;
  font-weight: 800;
}

.jumbotron .col-sm-4.py-4   
{
  font-size: 20px;
}

.intro-subtitle_p
{
  
font-style: normal;
 
font-size: 18px;
 
text-transform: uppercase;

color: #FFFFFF;
}
.jumbotron h1 {
 
    color: #FB7710;

}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }


  .jumbotron h1 {

    text-align: left;
    line-height: 72px;
    font-size: 60px;

      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
   
  }
  
}

.jumbotron p:last-child {
  margin-bottom: 0;
}




footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}






.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 150px; height: 150px; border: 8px solid white; line-height: 150px; border-radius: 50%; 
	background: #323134; border: 10px solid #FFFFFF;	box-sizing: border-box; top: 50px;}
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; 	background: #FFFFFF; border: 1px solid #FB7710; padding:80px 10px 10px 10px;  min-height: 280px;}

.box > .icon:hover > .info { border: 1px solid #c4630d; }
.box > .icon > .info > h3.title {
   text-transform: uppercase;	font-style: normal; 	line-height: 36px;	color: #27262A;
   font-weight: 700;  
  }

.box-icon_circle
{
    margin-top: -20px;
    margin-left: -5px;
}

.icon_bacground-layer 
{
	position: absolute;
    top: 27px;
    opacity: 0.22;
    z-index: -1;
    left: 40px;

}

.box > .icon > .info > p { 
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #27262A;
line-height: 1.5em; margin: 12px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more  { 
	
font-weight: 600;
font-size: 20px;
line-height: 24px; 
text-align: center;
color: #FB7710;
 
}

.box .space { height: 30px; }

.icon_box__p {font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;}

hr.inbox-separator {
    width: 30px;
    height: 5px;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 0;
    background: #FB7710;
}





.button-orange {

  color: #000;
  font-family: 'MuseoSansCyrl-500';
  background: transparent;
  border: 1px solid #000;
  position: relative;
  font-size: 14px;
  letter-spacing: .1em;
  transition: .2s ease-in-out;
  padding: 15px 30px 15px 35px;


}

.button-orange:before {
  
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #FB7710;
  z-index: -1;
  transition: .25s ease;
  transform: translate(0, 0);
}
.button-orange:hover:before {
  transform: translate(3px, 3px);
}


.button-orange_white {
  color: #FFF;
  font-family: 'MuseoSansCyrl-500';
  background: #fb7710;
  border: 0;
  position: relative;
  font-size: 14px;
  letter-spacing: .1em;
  transition: .2s ease-in-out;
  padding: 15px 30px 17px 35px;
}
 
.button-orange_white:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #FFF;
  transition: .25s ease;
  transform: translate(0, 0);
}
.button-orange_white:hover:before {
  transform: translate(3px, 3px);
}



@font-face {
  font-family: 'fontb51020939c3f5c54a1c819f2c533f27a';
    
    src:    url('https://nomail.com.ua/files/eot/b51020939c3f5c54a1c819f2c533f27a.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/b51020939c3f5c54a1c819f2c533f27a.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/b51020939c3f5c54a1c819f2c533f27a.woff2') format('woff2');
  }
  
  @font-face { font-family: 'MuseoSansCyrillic-900';  src: local('MuseoSansCyrillic-900'), url('https://nomail.com.ua/files/woff/b51020939c3f5c54a1c819f2c533f27a.woff') format('woff'); }
  


#museosanscyrillic900 { font-family:'MuseoSansCyrillic-900'; }
.fontb51020939c3f5c54a1c819f2c533f27a { font-family: 'fontb51020939c3f5c54a1c819f2c533f27a'; }




@font-face {
  font-family: 'font3d18a1ad165ac0b4adcbafa423ac5145';
    
    src:   
        url('https://nomail.com.ua/files/woff/3d18a1ad165ac0b4adcbafa423ac5145.woff') format('woff')
        
  }
  
  @font-face { font-family: 'MuseoSansCyrillic-700';  src: local('MuseoSansCyrillic-700'), url('https://nomail.com.ua/files/woff/3d18a1ad165ac0b4adcbafa423ac5145.woff') format('woff'); }
  
 
  
  #museosanscyrillic700 { font-family:'MuseoSansCyrillic-700'; }
  .font3d18a1ad165ac0b4adcbafa423ac5145 { font-family: 'font3d18a1ad165ac0b4adcbafa423ac5145'; }
  
  

@font-face {
  font-family: 'font02f7d6b8e3cda79742b374cbc5595a8f';
      
      src:    url('https://nomail.com.ua/files/eot/02f7d6b8e3cda79742b374cbc5595a8f.eot?#iefix') format('embedded-opentype'),
              url('https://nomail.com.ua/files/woff/02f7d6b8e3cda79742b374cbc5595a8f.woff') format('woff'),
              url('https://nomail.com.ua/files/woff2/02f7d6b8e3cda79742b374cbc5595a8f.woff2') format('woff2');
  }
  
  @font-face { font-family: 'MuseoSansCyrl-500';  src: local('MuseoSansCyrl-500'), url('https://nomail.com.ua/files/woff/02f7d6b8e3cda79742b374cbc5595a8f.woff') format('woff'); }
  
   
  
  #museosanscyrl500 { font-family:'MuseoSansCyrl-500'; }
  .font02f7d6b8e3cda79742b374cbc5595a8f { font-family: 'font02f7d6b8e3cda79742b374cbc5595a8f'; }
  
  
  
      
   H1 {
    font-family: 'MuseoSansCyrillic-900'; 
   }




   
 .steps {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow-x: auto;
}

.steps .step:first-child {
  margin-left: auto;
}

.steps .step:last-child {
  margin-right: auto;
}

 
.step:first-of-type .step-circle::before {
  display: none;
}

.step:last-of-type .step-content {
  padding-right: 0;
}

.step-content {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  min-width: 5rem;

  padding-top: 0.5rem;
  padding-right: 1rem;
}

.step-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  color: #adb5bd;
  border: 2px solid #adb5bd;
  border-radius: 100%;
  background-color: #fff;
}

.step-circle::before {
  border-top: dashed 1px #ffffff;
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: -7px;
    width: calc(5rem + 1rem - 1.5rem);
    height: 1px;
    transform: translate(-100%, -50%);
    color: #adb5bd; 

    
  
}

.step-text {
  font-size: 14px;
  color: #adb5bd;
  word-break: break-all;
  margin-top: 0.25em;
}

 
 
span.step-circle:after {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    content: "";
    background: #fb7710;
    border: solid 10px #fb7710;
    display: block;
    opacity: 0.4941174;
}

.step-success .step-circle, .step-active .step-circle  {
  width: 12px;
  height: 12px;
  border: solid 1px #232323;
  background: #fb7710;
}

.step-success .step-circle::before {
  color: #FFF;
}

.step-success .step-text {
  color: #FFF;
}
 

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }